<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <p>Welcome <%= username %> to your dashboard!</p>
    <a href="/logout">Logout</a>
    <br>
    <a href="/">Go to Home Page</a>
</body>
</html>