<!-- login.ejs -->
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <p><%= message[0] %></p>
    <% } %>
    <form action="/login" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>